@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

body {
  font-family: "Quicksand", sans-serif;
  background-color: #f9f9f9;
  color: #333;
  line-height: 1.6;
}